<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>149856231990-eir5cm0n0c0h4kvf6dboeu09gk9j0qm4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.149856231990-eir5cm0n0c0h4kvf6dboeu09gk9j0qm4</string>
	<key>API_KEY</key>
	<string>AIzaSyAdZl94x-JhLo9awdfRRdL05jcVQk0HF-c</string>
	<key>GCM_SENDER_ID</key>
	<string>149856231990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.til.stripeDemoTil</string>
	<key>PROJECT_ID</key>
	<string>stripedemo-56ae4</string>
	<key>STORAGE_BUCKET</key>
	<string>stripedemo-56ae4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:149856231990:ios:478c95cf6d5f808b4dae97</string>
</dict>
</plist>